/* Heart */
img[data-suit="heart"][data-rank="1"] {
    content: url("./images/ace_of_hearts.png");
}

img[data-suit="heart"][data-rank="2"] {
    content: url("./images/2_of_hearts.png");
}

img[data-suit="heart"][data-rank="3"] {
    content: url("./images/3_of_hearts.png");
}

img[data-suit="heart"][data-rank="4"] {
    content: url("./images/4_of_hearts.png");
}

img[data-suit="heart"][data-rank="5"] {
    content: url("./images/5_of_hearts.png");
}

img[data-suit="heart"][data-rank="6"] {
    content: url("./images/6_of_hearts.png");
}

img[data-suit="heart"][data-rank="7"] {
    content: url("./images/7_of_hearts.png");
}

img[data-suit="heart"][data-rank="8"] {
    content: url("./images/8_of_hearts.png");
}

img[data-suit="heart"][data-rank="9"] {
    content: url("./images/9_of_hearts.png");
}

img[data-suit="heart"][data-rank="10"] {
    content: url("./images/10_of_hearts.png");
}

img[data-suit="heart"][data-rank="11"] {
    content: url("./images/jack_of_hearts.png");
}

img[data-suit="heart"][data-rank="12"] {
    content: url("./images/queen_of_hearts.png");
}

img[data-suit="heart"][data-rank="13"] {
    content: url("./images/king_of_hearts.png");
}

/* Diamond */
img[data-suit="diamond"][data-rank="1"] {
    content: url("./images/ace_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="2"] {
    content: url("./images/2_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="3"] {
    content: url("./images/3_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="4"] {
    content: url("./images/4_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="5"] {
    content: url("./images/5_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="6"] {
    content: url("./images/6_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="7"] {
    content: url("./images/7_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="8"] {
    content: url("./images/8_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="9"] {
    content: url("./images/9_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="10"] {
    content: url("./images/10_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="11"] {
    content: url("./images/jack_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="12"] {
    content: url("./images/queen_of_diamonds.png");
}

img[data-suit="diamond"][data-rank="13"] {
    content: url("./images/king_of_diamonds.png");
}

/* Club */
img[data-suit="club"][data-rank="1"] {
    content: url("./images/ace_of_clubs.png");
}

img[data-suit="club"][data-rank="2"] {
    content: url("./images/2_of_clubs.png");
}

img[data-suit="club"][data-rank="3"] {
    content: url("./images/3_of_clubs.png");
}

img[data-suit="club"][data-rank="4"] {
    content: url("./images/4_of_clubs.png");
}

img[data-suit="club"][data-rank="5"] {
    content: url("./images/5_of_clubs.png");
}

img[data-suit="club"][data-rank="6"] {
    content: url("./images/6_of_clubs.png");
}

img[data-suit="club"][data-rank="7"] {
    content: url("./images/7_of_clubs.png");
}

img[data-suit="club"][data-rank="8"] {
    content: url("./images/8_of_clubs.png");
}

img[data-suit="club"][data-rank="9"] {
    content: url("./images/9_of_clubs.png");
}

img[data-suit="club"][data-rank="10"] {
    content: url("./images/10_of_clubs.png");
}

img[data-suit="club"][data-rank="11"] {
    content: url("./images/jack_of_clubs.png");
}

img[data-suit="club"][data-rank="12"] {
    content: url("./images/queen_of_clubs.png");
}

img[data-suit="club"][data-rank="13"] {
    content: url("./images/king_of_clubs.png");
}

/* Spade */
img[data-suit="spade"][data-rank="1"] {
    content: url("./images/ace_of_spades.png");
}

img[data-suit="spade"][data-rank="2"] {
    content: url("./images/2_of_spades.png");
}

img[data-suit="spade"][data-rank="3"] {
    content: url("./images/3_of_spades.png");
}

img[data-suit="spade"][data-rank="4"] {
    content: url("./images/4_of_spades.png");
}

img[data-suit="spade"][data-rank="5"] {
    content: url("./images/5_of_spades.png");
}

img[data-suit="spade"][data-rank="6"] {
    content: url("./images/6_of_spades.png");
}

img[data-suit="spade"][data-rank="7"] {
    content: url("./images/7_of_spades.png");
}

img[data-suit="spade"][data-rank="8"] {
    content: url("./images/8_of_spades.png");
}

img[data-suit="spade"][data-rank="9"] {
    content: url("./images/9_of_spades.png");
}

img[data-suit="spade"][data-rank="10"] {
    content: url("./images/10_of_spades.png");
}

img[data-suit="spade"][data-rank="11"] {
    content: url("./images/jack_of_spades.png");
}

img[data-suit="spade"][data-rank="12"] {
    content: url("./images/queen_of_spades.png");
}

img[data-suit="spade"][data-rank="13"] {
    content: url("./images/king_of_spades.png");
}
