.chart-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 12.5%, 100%);
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.chart-tab[data-state="active"] {
    background-color: hsla(0, 0%, 15%, 100%);
}

#tab-submit-btn {
    display: none;
}

#app-main {
    position: absolute;
    inset: 0;
    top: 5rem;
}

#app-main .app-container {
    padding: 1rem;
}

#chart[data-state="min"] {
    background-color: hsla(0, 0%, 12.5%, 100%);
}

#chart[data-state="max"] {
    border-top-right-radius: 0;
}

#chart-nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5rem;
    height: 3rem;
}

#add-tab-ticker::placeholder {
    font-size: 1.25rem;
    color: hsla(0, 0%, 100%, 100%);
}

#add-tab-ticker:focus::placeholder {
    color: transparent;
}

#chart {
    width: 100%;
    height: calc(100% - 3rem);
    background-color: hsla(0, 0%, 15%, 100%);
    border-radius: 0.25rem;
    border-top-left-radius: 0;
}
