.chart-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 15%, 100%);
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    font-weight: 900;
    cursor: pointer;
}

.chart-tab[data-state="active"] {
    background-color: hsla(0, 0%, 20%, 100%);
}

#app-main {
    position: absolute;
    inset: 0;
    top: 5rem;
}

#app-main .app-container {
    padding: 2rem;
}

#chart[data-state="min"] {
    background-color: hsla(0, 0%, 15%, 100%);
}

#chart[data-state="max"] {
    border-top-right-radius: 0;
}

#chart-nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5rem;
    height: 3rem;
}

#chart {
    width: 100%;
    height: calc(100% - 3rem);
    background-color: hsla(0, 0%, 20%, 100%);
    border-radius: 0.25rem;
    border-top-left-radius: 0;
}

#chart-data-y {
    position: absolute;
    inset: 0;
    top: 3rem;
    bottom: 3rem;
    display: grid;
    justify-content: center;
    align-items: space-between;
    width: 3rem;
}

#chart-data-x {
    position: absolute;
    inset: 0;
    top: unset;
    right: 3rem;
    left: 3rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

#chart-data {
    position: absolute;
    inset: 3rem;
    border-bottom: 0.25rem solid hsla(0, 0%, 25%, 100%);
    border-left: 0.25rem solid hsla(0, 0%, 25%, 100%);
    border-radius: 0.25rem;
}
