#app-main {
    position: absolute;
    inset: 0.5rem;
    top: 5.5rem;
    background-color: hsla(0, 0%, 10%, 100%);
}

#main-container {
    width: 100%;
    min-width: 363px;
    max-width: 1100px;
    height: 100%;
    margin-inline: auto;
    padding: 0.5rem;
    border-radius: 0.125rem;
}

#form {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    background-color: hsla(0, 0%, 15%, 100%);
    border-radius: 0.125rem;
    box-shadow: 0 0.5rem 1rem hsla(0, 0%, 5%, 100%);
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33%;
    border-top-right-radius: 0.125rem;
    border-top-left-radius: 0.125rem;
    background-color: hsla(0, 0%, 13%, 100%);
}

#title {
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

#para {
    color: hsla(0, 0%, 50%, 100%);
    text-align: center;
}

#section {
    position: absolute;
    inset: 0;
    top: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

#text-area {
    width: 100%;
    height: 100%;
    padding: 3rem;
    resize: none;
    overflow-y: scroll;
    border: thin solid hsla(0, 0%, 20%, 100%);
    background-color: hsla(0, 0%, 8%, 100%);
}

#submit {
    width: 100%;
    height: 5rem;
    background-color: hsla(0, 0%, 20%, 100%);
    border-radius: 0.125rem;
    font-weight: 900;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 3rem;
    }
}
