#app-main {
    position: absolute;
    inset: 0.5rem;
    top: 5.5rem;
    background-color: hsla(0, 0%, 10%, 100%);
}

#main-container {
    width: 100%;
    min-width: 363px;
    max-width: 1597px;
    height: 100%;
    margin-inline: auto;
}
