.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #eeeeee;
}

.three-column {
    display: flex;
    width: max-content;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.column:nth-child(1) {
    background-color: crimson;
}

.column:nth-child(2) {
    background-color: dodgerblue;
}

.column:nth-child(3) {
    background-color: gold;
}

.chessboard {
    width: max-content;
}

.chessboard-row {
    display: flex;
}

.chessboard-row:nth-child(even) {
    flex-direction: row-reverse;
}

.light-square,
.dark-square {
    width: 50px;
    height: 50px;
}

.light-square {
    background-color: #ffce9e;
}

.dark-square {
    background-color: #d18a46;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
}

.nav-bar-item:nth-child(1) {
    font-weight: 900;
}

.nav-bar-item,
.nav-bar-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-family: sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
}

.nav-bar-menu {
    display: flex;
}

.add-on {
    width: max-content;
}

.add-on p {
    margin: 0;
}

.add-on-container {
    display: flex;
}

.add-on {

}

.add-on {

}