* {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 13%);
    text-decoration: none;
    cursor: default;
    user-select: none;
    border: thin dashed black;
}

head,
script {
    display: none;
}

.calculator {
    width: 50rem;
    height: 100rem;
    margin-inline: auto;
}
