<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
    <link defer rel="stylesheet" href="../public/css/style.css" />
    <script defer src="../public/js/app.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" id="name" />
      <input type="text" id="address" />
      <button id="btn">Test</button>
    </div>
    <script>
      const btn = document.getElementById("btn");
      const name = document.getElementById("name");
      const address = document.getElementById("address");
      btn.onclick = async () => {
        const response = await fetch("/restaurants/create_restaurant", {
          method: "POST",
          mode: "cors",
          cache: "no-cache",
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json",
          },
          redirect: "follow",
          referrerPolicy: "no-referrer",
          body: JSON.stringify({
            name: name.value,
            address: address.value,
            reviewScore: null,
          }),
        });
        const json = await response.json();
        console.log(json);
      };
    </script>
  </body>
</html>
