* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: black;
    text-decoration: none;
    cursor: default;
}

a:hover {
    cursor: pointer;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.main-header {
    background-color: darkblue;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    padding: 0 1rem;
}

.menubar-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar-item {
    margin: 0 0.25rem;
    color: white;
}

input.menubar-item {
    padding: 0 0.25rem;
    background-color: white;
    border: thin solid black;
    color: black;
}

button.menubar-item {
    padding: 0 0.5rem;
    background-color: white;
    color: black;
}

/* Advertisement */
.advertisement {
    height: 10rem;
    margin: 0 3rem;
    background-color: white;
    border: thin solid black;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background-color: steelblue;
}

.navbar a {
    color: white;
}

.navbar p {
    margin: 0 0.5rem;
    color: darkblue;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
}

.profile-group {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
}

.profile-name {
    grid-column: 1 / span 2;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

.profile-image {
    height: 150px;
    grid-column: 1 / span 1;
    background-image: url("./joe.webp");
    background-size: 225px;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.profile-info {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    padding: 0 2rem;
}

.profile-info p {
    color: black;
}

.profile-links {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: black;
}

.profile-links p {
    display: inline;
    margin: 0 0.25rem;
    color: black;
}

.profile-links a {
    display: inline;
    color: darkblue;
}

.contact {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0.25rem solid steelblue;
}

.contact h3 {
    grid-column: 1 / span 2;
    padding: 0.25rem 1rem;
    background-color: steelblue;
    font-weight: normal;
    color: white;
}

.contact p {
    grid-column: auto / auto;
    grid-row: auto / span 1;
    padding: 0.25rem;
}

.url {
    grid-column: 1 / span 2;
    margin-top: 2rem;
    padding: 0.25rem;
    background-color: #f8f8f8;
    border: thin solid black;
}